
<!-- include header -->
<%- include('include/_headerApplyList') %>
<!-- /include header -->

  <!-- Main Site -->
  <!-- <main id="site-main"> -->
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/"><i class="fas fa-angle-double-left"></i> Back</a>
           </div>
              <a href="/applyList"><i class="fas fa-angle-double-left"></i> apply List</a>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">New Apply</h2>
            <span class="text-light">Use the below form to apply for this job</span>
        </div>

        <!-- add user form -->
        <%- include('include/_formApply') %>
       
    </div>
<!-- </main> -->
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
